.grid-cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 120px;
    border-radius: 24px;
    box-shadow: 0 0 20px rgba(111, 106, 248, 0.15);
    transition: box-shadow .2s ease;
}

/* .card:hover {
    box-shadow: 0 0 20px rgba(111, 106, 248, 0.3);
} */

.card .header-card {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 10px;
}

.card .header-card svg:nth-child(1) {
    font-size: 36px;
}

.card .header-card svg {
    font-size: 30px;
    color: #211e58;
}

.card .header-card .dotsInfo svg {
    font-size: 24px;
}

.card .header-card .dotsInfo::after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: -2px;
    right: -3px;
    cursor: pointer;
    opacity: 0;
    transform: scale(0%);
    transition: all 0.2s ease;
}

.card .header-card .dotsInfo:hover::after {
    opacity: 1;
    transform: scale(100%);
}

.card .content-card {
    display: flex;
    flex-direction: column;
}

.card .content-card h3 {
    color: #1A154F;
    text-align: center;
    margin-top: 15px;
    font-size: 24px;
}

.card .content-card small {
    font-size: 14px;
    color: #5D5B77;
}



@media (max-width: 1200px) {
    .grid-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1025px) {
    .grid-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}