.container {
    display: flex;
    min-height: calc(100vh - 20px);
    margin-left: 100px;
    padding: 10px;
    overflow: hidden;
}

main{
    min-height: 100%;
}

.container-left,
.container-right {
    padding: 20px;
    border-radius: 24px;
}

.container-left {
    flex: 4;
    margin-right: 20px;
}

.container-left h1 {
    font-weight: bold;
    color: #1d1a5b;
}

.container-right {
    flex: 1;
    background-color: #E9ECF4;
    margin-right: 10px;
    margin-bottom: 10px;
}

@media (max-height: 600px) {
    .container {
        flex-direction: column;
        margin-top: 100px;
        margin-left: 0px;
        height: auto;
    }

    .container-left,
    .container-right {
        padding: 0;
    }
}

@media (max-width: 1025px) {
    .container {
        flex-direction: column;
        margin-top: 100px;
        margin-left: 0px;
        height: auto;
    }

    .container-left,
    .container-right {
        padding: 0;
    }
}